<div id="comments_form_<%= comment.post.id %>">
  <%= simple_form_for([@post, comment], remote: true) do |f| %>
    <div class="form_inputs">
      <%= f.input :body, label: false, placeholder: 'Add a comment.', input_html: { rows: 5} %>
    </div>
    <div class="form_actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
